body, ul, li, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins';

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}
