body, ul, li, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}



.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.header-menu a {
    padding: 1rem 0px;
    color: #fff;
    font-size: 1.3rem;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #fff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}


.introducao-bg{
    background: #000;
    color: #fff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.introducao-conteudo{
    align-self: flex-end;
    padding-bottom: 80px;
}

.introducao-conteudo h1 {
    font-size: 4rem;
    color: #fff;
    line-height: 1.12;
    margin-bottom: 2rem;
}

.introducao-conteudo p {
    font-size: 1.4rem;
    color: #b2b2b2;
    margin-bottom: 1rem;
}




@media (max-width: 800px) {
    .header-menu {
        gap: 1rem;
    }

    .header-menu a {
        background: #111;
        padding: 0.7rem 1rem;
        border-radius: 4px;
        font-size: 1.1rem;
    }

    .header-menu a:hover {
        background: #2e2e2e;
        
    }

    .header a:after{
        display: none;
    }
}

@media (max-width: 500px) {
    .header a {
        margin: 0 auto;
    }

}