.bicicletas-lista{
    padding: 4rem 1rem;
    margin:  0 auto;
    max-width: 1600px;
}

.bicicletas-lista h2 {
    color: var(--cor-pri-dark-3);
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.catalogo-bicicletas{
    display: flex;
    overflow-x: auto;

    gap: 40px;
}

.catalogo-bicicletas li {
    flex: 1;
    min-width: 250px;
    padding-bottom: 1rem;
}

.catalogo-bicicletas a {
    display: block;
}

.catalogo-bicicletas h3 {
    color: var(--cor-pri-dark-3);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.catalogo-bicicletas h3::before {
    content: "";
    display: inline-block;
    height: 2.5rem;
    width: 0.5rem;
    margin-right: 0.6rem ;
    background-color: var(--cor-sec-light-1);
    transition: width 0.2s;
}

.catalogo-bicicletas a:hover h3::before {
    width: 1rem;

} 

.catalogo-bicicletas img{
    margin-bottom: 1rem;
}

.catalogo-bicicletas li span {
    color: var(--cor-pri-dark-3);
    padding-left: 1.6rem;
}

@media (max-width: 800px) {
    .catalogo-bicicletas{
        gap: 20px;
    }
}