.bicicleta-seguro-bg {
    background-color: var(--cor-pri-dark-3);
    box-shadow: inset 0 6rem var(--cor-pri-light-0), inset 0 -6rem var(--cor-pri-dark-4);
}

.bicicleta-seguro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 0 1rem;
    max-width: 1300px;
    margin: 0 auto;
}

.bicicleta-seguro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bicicleta-seguro-conteudo {
    padding-top: 9rem;
    padding-bottom: 9rem;

}

.bicicleta-seguro-conteudo h2 {
    color: var(--cor-pri-light-0);
    line-height: 1.1;
}

.bicicleta-seguro-conteudo span {
    color: var(--cor-sec-light-1);
}

.bicicleta-seguro-conteudo p {
    color: var(--cor-pri-light-5);
    padding: 1rem 0;
}

.bicicleta-seguro-conteudo a {
    width: max-content;
}

@media (max-width:800px){
    .bicicleta-seguro-bg{
        box-shadow: inset 0 -4rem var(--cor-pri-dark-4);
    }

    .bicicleta-seguro{
        grid-template-columns: 1fr;
    }

    .bicicleta-seguro img{
        height: 500px;
    }

    .bicicleta-seguro-conteudo {
        grid-row: 1;
        padding-top: 3rem;
        padding-bottom: 0;
    }


}