.botao {
    display: inline-block;
    border-radius: 4px;
    color: var(--cor-sec-dark-3);
    padding: 1rem 2rem;
    background: linear-gradient(var(--cor-sec-light-1), var(--cor-sec-medio-1) );
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.botao:hover{
    background: linear-gradient(var(--cor-sec-light-1), var(--cor-sec-dark-1));
}

@media (max-width: 1200px) {
    .botao {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }
}



@media (max-width: 800px) {
    .botao {
        font-size: 1.4rem;
        padding: 0.6rem 1.4rem;
    }
}

