.botao {
    display: inline-block;
    border-radius: 4px;
    color: #320;
    padding: 1rem 2rem;
    background: linear-gradient(#ffbf00, #f2a50c );
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.botao:hover{
    background: linear-gradient(#ffbf00, #c57d12 );
}

@media (max-width: 800px) {
    .botao {
        font-size: 1.4rem;
        padding: 0.6rem 1.4rem;
    }
}

