.tecnologia-bg{
    background-color: var(--cor-pri-dark-3);
    box-shadow: inset 0 120px var(--cor-pri-light-0), inset 0 -120px var(--cor-pri-light-0);

}

.tecnologia {

}

.tecnologia-conteudo {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.tecnologia-conteudo h2{
    color: var(--cor-pri-light-0);
    text-transform: uppercase;
    padding-top: 2rem;
    
}

.tecnologia-conteudo p {
    color: var(--cor-pri-light-0);
}

.tecnologia-caracteristicas h3{
    font-weight: 600;
}

.tecnologia-caracteristicas p {
    color: var(--cor-pri-light-0);
}

.tecnologia span {
    display: block;
    color: var(--cor-pri-medio-1);
    text-transform: uppercase;
    padding-top: 1rem;
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.tecnologia-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;

}

.tecnologias-vantagens{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tecnologias-vantagens h3{
    margin-bottom: 0.6rem;
    width: max-content;
}

.tecnologia-caracteristicas img {
    width: 24px;
}

@media (max-width: 800px) {
    .tecnologia-bg {
        box-shadow: initial;
    }
    
    .tecnologia {
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo {
        padding-top: 2rem;
        padding-bottom:2rem;
    }

    .tecnologia-img {
        display: none;
    }
}

@media (max-width: 600px) {
    .tecnologias-vantagens{
        flex-direction: column;
    }
}